/* 400 */
/* 300, 400, 700 */
.mascara {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(145, 119, 85, 0.7);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

@media screen and (min-width: 1200px) {
  .hide-desktop {
    display: none !important;
  }
}

@media screen and (min-width: 760px) and (max-width: 1199px) {
  .hide-tablet {
    display: none !important;
  }
}

@media screen and (max-width: 759px) {
  .hide-mobile {
    display: none !important;
  }
}

.container {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
}
@media screen and (min-width: 760px) and (max-width: 1199px) {
  .container {
    max-width: 760px;
  }
}
@media screen and (max-width: 759px) {
  .container {
    max-width: 480px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  background: #efebe6;
  font-family: "Merriweather", serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 1px;
  color: #0d0b08;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

.titulo {
  font-size: 28px;
  font-family: "Gloock", serif;
  font-weight: 400;
  margin-bottom: 20px;
  color: #000;
  color: #3c3123;
}

.subtitulo {
  font-size: 18px;
  font-family: "Merriweather", serif;
  font-weight: 300;
}

.texto {
  font-size: 16px;
  font-family: "Merriweather", serif;
  font-weight: 300;
  color: #3c3123;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px 40px 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .banner-header {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.header .header-content .logo {
  width: 450px;
  height: auto;
}
.header .header-content .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
.header .header-content .nav-header ul {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header .header-content .nav-header a {
  color: #fff;
  position: relative;
}
.header .header-content .nav-header a::before {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: -2px;
  left: 0;
  transition: 0.3s ease-in-out;
}
.header .header-content .nav-header a::after {
  content: "";
  display: block;
  width: 0%;
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s ease-in-out;
}
.header .header-content .nav-header a:hover:before,
.header .header-content .nav-header a:hover:after {
  width: 80%;
}

.intro-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 40px;
}

.intro-imgs {
  position: relative;
  width: 100%;
  height: 450px;
}
.intro-imgs .intro-img1 {
  display: block;
  width: 440px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 30px;
  border-radius: 20px;
  overflow: hidden;
}
.intro-imgs .intro-img1 img {
  -o-object-position: 100% center;
     object-position: 100% center;
}
.intro-imgs .intro-img2 {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 20px;
  box-shadow: rgba(32, 32, 32, 0.062745098) 0px 8px 20px;
  overflow: hidden;
}
.intro-imgs::after {
  content: "";
  display: block;
  width: 60px;
  height: 150px;
  background: #b29e84;
  position: absolute;
  top: 40px;
  right: 0;
  -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
          clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
}/*# sourceMappingURL=style.css.map */